{% ckan_extends %}
{% block resource_item_title %}
<a 
data-umami-event="resource-view" 
   data-umami-event-dataset-name="{{ h.dataset_display_name(pkg) }}"
   data-umami-event-dataset-id="{{ pkg.id }}"
    data-umami-event-resource-name="{{ h.resource_display_name(res) | truncate(50) }}"
    data-umami-event-resource-id="{{ res.id }}"
class="heading" href="{{ url }}" title="{{ res.name or res.description }}">
    {{ h.resource_display_name(res) | truncate(50) }}<span class="format-label" property="dc:format" data-format="{{ res.format.lower() or 'data' }}">{{ h.get_translated(res, 'format') }}</span>
    {{ h.popular('views', res.tracking_summary.total, min=10) if res.tracking_summary }}
</a>
{% endblock %}